{% load i18n %}
{% load staticfiles %}
{% load getattr %}

<html lang="{{ request.LANGUAGE_CODE }}">
<head data-page="head">
    <meta charset="UTF-8">
    <title>{% getattribute page 'title' %}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
{#    <link rel="icon" type="image/ico" href="favicon.ico">#}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
</head>
<body>
<div class="container-fluid general">
    <div class="content center-block">
        <div class="row" data-page="logo">
            <div class="col-md-12">
                <img src="{% static 'img/logo.png' %}" class="center-block img-responsive" alt="">
            </div>
        </div>

        <div class="margin-top"></div>

        <!-- Начало Меню -->
        <div class="row" data-page="menu">
            <div class="col-md-12">
                <ul id="menu" class="nav nav-justified">
                    <li class="first"><a href="#">{% trans 'menu_architecture' %}</a></li>
                    <li><a href="#">{% trans 'menu_interior' %}</a></li>
                    <li><a href="#">{% trans 'menu_blog' %}</a></li>
                    <li><a href="#">{% trans 'menu_about' %}</a></li>
                    <li><a href="#">{% trans 'menu_contacts' %}</a></li>
                    <li class="last">
                        <form action="" method="get" role="form">
                            <div class="input-group search">
                                <input type="text" class="form-control searchinput" placeholder="{% trans 'search' %}">
                                <span class="input-group-btn">
                                    <button class="btn btn-default searchbutton" type="button"><img src="{% static 'icons/search-icon.png' %}" class="" alt=""></button>
                                </span>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Конец Меню -->
    </div>
    {% block content %}{% endblock %}
    <div class="margin-top"></div>
    <div class="content center-block">
        <!-- Начало Подвала -->
        <div data-page="footer">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 margin-bottom-20">
                    <img src="{% static 'icons/round-icon.png' %}" class="center-block" alt="">
                </div>
            </div>
            <div class="row footer">
                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4 text-center">
                    <p>{% trans 'copyrights' %}</p>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4 text-center">
                    <p>
                        <a class="footer-link" href="phone:+79169360613">+7 (916) 936 06 13</a><br>
                        <a class="footer-link" href="mailto:info@perfect-space.ru">info@perfect-space.ru</a>
                    </p>
                    <br><br>
                    <p><strong>RUS</strong> / Eng</p>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4 text-right">
                    <ul class="list-inline social">
                        <li><img src="{% static 'icons/facebook-icon.png' %}" alt=""></li>
                        <li><img src="{% static 'icons/instagram-icon.png' %}" alt=""></li>
                        <li><img src="{% static 'icons/p-icon.png' %}" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Конец Подвала -->
    </div>
</div>
<!-- Скрипты -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
