{% extends 'base.html' %}
{% load staticfiles %}
{% load getattr %}

{% block content %}
    <div class="margin-top"></div>
    <div class="contact">
				<div class="col-xs-3">
                    {% getattribute page 'content' %}
				</div>
				<div class="col-xs-8 col-xs-offset-1" style="margin-left: 6%;">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=bdfH_yPLX58f4ESgBkGc-gRBSvBJz240&width=670&height=580&lang=ru_RU&sourceType=constructor&scroll=true"></script>
				</div>
				<div class="clearfix"></div>
			</div>
{% endblock %}
