a:hover,
a:focus,
a:active {
    color: #333;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: 136px;
}

footer {
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
}

h1,
h4,
b,
strong {
    font-family: RobotoBold, sans-serif;
    font-weight: normal;
}

.logo-image {
    width: 315px;
    height: 26px;
}

.menu.nav > li {
    white-space: nowrap;
}

.menu.nav > li > a:hover,
.menu.nav > li > a.active,
.menu.nav > li > a:focus {
    display: block;
    background-color: transparent;
    color: #010101;
    font-family: RobotoBold, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0 10px;
}

.menu.nav > li > a:hover:before,
.menu.nav > li > a.active:before,
.menu.nav > li > a:focus:before {
    content: '•';
    color: #010101;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.menu.nav > li > a:hover:after,
.menu.nav > li > a.active:after,
.menu.nav > li > a:focus:after {
    content: '•';
    color: #010101;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.col-inline-4:nth-child(3n+1) {
    margin-left: 0;
}

.tags {
    text-decoration: none;
}

.tags a {
    color: #808080;
    text-decoration: underline;
    font-size: 12px;
}

.media img {
    margin-right: 12px;
}

.carousel-inner {
    overflow: visible;
}
.carousel-inner .item {
    text-align: center;
}

.carousel-inner .item > a {
    width: 668px;
    display: table-cell;
    height: 440px;
    vertical-align: middle;
    text-align: center;
}

.carousel-inner .item img {
    width: 100% !important;
    height: auto !important;
}

.carousel-indicators.small .active {
    top: 0;
}

.carousel-indicators .active {
    background-color: #000;
    position: relative;
    top: -1px;
    width: 7px;
    height: 7px;
    margin-left: 11px;
}

.carousel-indicators li {
    border: 0;
    background-color: #fff;
    width: 7px;
    height: 7px;
    margin-left: 10px;
}


.carousel-fade .carousel-inner .item {
	transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	left: 0;
	transform: translate3d(0, 0, 0);
}

.thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: auto !important;
    max-width: 100%;
    margin: 0 auto;
}

.col-xs-4.photo-item {
    padding-top: 15px;
}

.photo-item .decr {
    top: 150px;
    padding: 10px;
}

.glyphicon-chevron-left:before {
    width: 20px;
    height: 35px;
}

.glyphicon-chevron-right:before {
    width: 20px;
    height: 35px;
}


.page {
    font-size: 14px;
}
.about p,
.page p {
    font-size: inherit;
    line-height: 1.5;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-align: justify;
}
.page h4:first-child {
    margin-top: 0;
    padding-top: 0;
}
.page h4 {
    color: #010101;
    font-family: RobotoBold, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 15px;
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: normal;
}
.subtitle-text {
    font-size: 14px;
}

.project-content {
    padding-top: 15px;
}

.project-menu {
    position: -webkit-sticky;
    position: sticky;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 18px;
    top: 0;
}
.project-menu-item {
    color: #808080;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.project-menu-item.active {
    color: #010101;
    font-weight: normal;
    font-family: RobotoBold, sans-serif;
}
.project-menu-item:hover {
    cursor: pointer;
    color: #010101;
    font-weight: normal;
    font-family: RobotoBold, sans-serif;
}
.project-other-caption {
    margin-top: 85px;
    font-family: RobotoBold, sans-serif !important;
    font-weight: normal;
    letter-spacing: normal !important;
}
.project-list {
    margin-bottom: 80px;
}
.project-detail {
    margin-top: 15px;
    margin-bottom: 80px;
}

.lang strong,
.lang-link:hover {
    font-weight: normal;
    text-decoration: none;
    font-family: RobotoBold, sans-serif;
}


.blog-description {
    font-size: 14px;
}
.blog-detail {
    margin-top: 45px;
    margin-bottom: 80px;
}

/* Lightgaller */
.lg-outer .lg-thumb-item {
    border-radius: 0;
    border: 1px solid #fff;
}
.lg-thumb.group {
    margin-left: auto;
    margin-right: auto;
}


.publication-image {
    cursor: pointer;
}
.publication-gallery {
    display: none;
}

#cover,
#desktop {
    display: none;
}
.mobile-container {
    padding-top: 40px;
}
.mobile-subtitle {
    margin-top: 10px;
    margin-bottom: 40px;
}
.mobile-description {
    text-align: center;
    line-height: 1;
    margin: 20px 0 0;
}
.mobile-subtitle {
    text-align: center;
}
.mobile-social {
    margin: 20px auto 0;
    text-align: center;
}

.search-query {
    color: #808080;
    padding: 30px 0 20px;
    text-transform: uppercase;
    font-family: RobotoBold, sans-serif;
    font-weight: normal;
}

.soon {
    cursor: default;
}
.soon-content {
    width: 355px;
    height: 370px;
    display: table;
    table-layout: fixed;
    border: 1px dotted #9d9d9d;
}
.soon-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.soon-text {
    display: inline-block;
    color: #fff;
    padding: 50px 40px;
    background-color: #000;
    font-size: 15px;
    text-transform: uppercase;
}