a:hover,
a:focus,
a:active {
    color: #333;
}

.logo-image {
    width: 315px;
    height: 26px;
}

.menu.nav > li {
    white-space: nowrap;
}
.menu.nav > li > a:hover,
.menu.nav > li > a.active,
.menu.nav > li > a:focus {
    display: block;
    background-color: transparent;
    color: #010101;
    font-family: GillSans-SemiBold, sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0 10px;
}
.menu.nav > li > a:hover:before,
.menu.nav > li > a.active:before,
.menu.nav > li > a:focus:before {
    content: '•';
    color: #010101;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.menu.nav > li > a:hover:after,
.menu.nav > li > a.active:after,
.menu.nav > li > a:focus:after {
    content: '•';
    color: #010101;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.col-inline-4:nth-child(3n+1) {
    margin-left: 0;
}

.tags {
    text-decoration: none;
}
.tags a {
    color: #808080;
    text-decoration: underline;
    font-size: 15px;
}

.media img {
    margin-right: 12px;
}

.carousel-inner .item {
    /*width: 652px;*/
    text-align: center;
}
.carousel-inner .item > a {
    width: 668px;
    display: table-cell;
    height: 440px;
    vertical-align: middle;
    text-align: center;
}
.carousel-inner .item img {
    width: 100% !important;
    height: auto !important;
}
.carousel-indicators.small .active {
    top: 0;
}


.col-xs-4.photo-item {
    padding-top: 15px;
}
.photo-item .decr {
    top: 150px;
}
.photo-item:hover .photo-item-title {
    font-size: 12px;
}
