{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load getattr %}

{% block content %}
    <div class="margin-top"></div>
    <div class="text-center clearfix">
        <div class="col-xs-12">
            <img src="{{ page.cover.url }}" class="center-block" width="1320" alt="">
        </div>
    </div>

    <div class="text-center">
        <div class="col-xs-8 col-xs-offset-2">
            <h1 class="headertitile">{% getattribute page 'caption' %}</h1>
        </div>
        <div class="clearfix"></div>
        <div style="margin-top: 40px;">
            <div class="col-xs-4">
                <h4 class="subtitle">{% trans 'square' %}</h4>
                <p class="subtitle-text">{{ page.square }}</p>
            </div>
            <div class="col-xs-4">
                <h4 class="subtitle">{% trans 'ceil' %}</h4>
                <p class="subtitle-text">{{ page.ceil }}</p>
            </div>
            <div class="col-xs-4">
                <h4 class="subtitle">{% trans 'bedrooms' %}</h4>
                <p class="subtitle-text">{{ page.bedrooms }}</p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
    <div class="project-detail">
        <div class="row">
            <div class="col-xs-3 text-left project-menu">
                <div class="project-menu-item active">{% trans 'idea' %}</div>
            </div>
            <div class="col-xs-6 page">

                <h4 class="project-menu-item active">{% trans 'idea' %}</h4>
                {% getattribute page 'idea' %}

                {% getattribute page 'content' %}

                <p class="uppert bold smalltitle">{% trans 'projects_similar' %}</p>
                {% for project_similar in projects_similar %}
                <div class="col-xs-4 photo-item-small">
                    <a href="{% url 'project_detail' slug=project_similar.slug %}">
                        <img src="{{ project_similar.thumb.url }}" class="img-responsive" alt="">
                        <div class="decr-small">
                            <h3 class="photo-item-title-small">{% getattribute project_similar 'caption' %}</h3>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
