{% extends 'base.html' %}
{% load staticfiles %}
{% load getattr %}

{% block content %}
    <div class="content center-block">
        <div class="margin-top"></div>
        <div class="center-block">
            {% for interior in interiors %}
            <div class="col-xs-4 photo-item">
                <a href="{% url 'project_detail' slug=interior.slug %}">
                    <img src="{{ interior.thumb.url }}" class="img-responsive" alt="">
                    <div class="decr vertical-center-g">
                        <h3 class="photo-item-title">{% getattribute interior 'caption' %}</h3>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
