{% extends 'base.html' %}
{% load staticfiles %}
{% load getattr %}

{% block content %}
    <div class="content center-block clearfix">
        <div style="margin-top: 40px;"></div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="row tags-list-container">
                    {% regroup tags by column as tags_columns %}
                    {% for column in tags_columns %}
                        <div class="col-xs-4 col-xs-offset">
                            <ul class="tags-list clearfix">
                                {% for tag in column.list %}
                                    <li class="tag-item"><a href="{% url 'blog_list' %}?tag={{ tag.id }}">{% getattribute tag 'name' %}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
